@font-face {
	font-family: F16;
	src: url("./fonts/JetBrainsMono-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: #0a100d;
	font-size: 200%;
	font-family: "JetBrains Mono", monospace;
}

p {
	color: #0a100d;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
}

p span {
	background: #d6d5c9;
	background-size: 200%;
	padding-top: 1px;
}

a span {
	background: #d6d5c9;
	background-size: 200%;
	padding-top: 1px;
	padding-bottom: 2px;
	display: inline-block;
	padding-right: 50px;
}

a span:hover {
	background: #a22c29;
	color: #d6d5c9;
}


.discord {
	background-color: #5865F2;
}

.white {
	color: #d6d5c9;
}

.red {
	font-weight: 1000;
	color: #a22c29;
}

a {
	color: #a22c29;
}

